{% extends "layout.html" %}
{% block content %}
<!-- Form
  ================================================== -->
<div class="form">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="lead">
                    {% if size or key%}
                    {{ size }}インチ、{{key}}で検索しました。
                    {% else %}
                    {{ message }}
                    {% endif %}
                </p>
                <form action="/post" method="post" class="form-inline">
                    <label for="size">配管サイズ</label>
                    <input type="text" class="form-control" id="size" name="size" placeholder="size">
                    <!--          <button type="submit" class="btn btn-default">送信する</button>-->
                    <label for="key">キーワード</label>
                    <input type="text" class="form-control" id="key" name="key" placeholder="key">
                    <button type="submit" class="btn btn-default">検索する</button>

                    <!--                    <a href="/download/output.csv" download={{head}}>Download CSV</a>-->
                    <a id="download" href="#" download=".\data\test.csv"><b>csvファイルダウンロード</b>(はまだできていません..)</a>
                    <!-- <input type="file" name="file">
                            <input type="submit">-->
                    <p><br></p>
                    <p><br>
                        {% if PJ%}
                        検索結果が含まれるPJ：
                        {% for m in PJ %}
                        {{ m }}
                        {% endfor %}
                        {% endif %}
                    </p>
                    <table class="dataframe table table-bordered table-hover" id="table1">
                        <thead>
                            <tr>
                                <!--                                {% for k in head %}
                                <th>{{ k}}</th>
                                {% endfor %}-->
                                <th>Piping Class</th>
                                <th>ShortCd</th>
                                <th>OptCd</th>
                                <th>Size1</th>
                                <th>Size2</th>
                                <th>Sch1</th>
                                <th>Sch2</th>
                                <th>Commodity Code</th>
                                <th>Part Code</th>
                                <th>Part Desc</th>
                                <th>Matl Std</th>
                                <th>Rating/Seam</th>
                                <th>Design Std</th>
                                <th>End Prep</th>
                                <th>MLK</th>
                                <th>Ident</th>
                                <th>Unit Weight</th>
                                <th>Group Code</th>
                                <th>Notes</th>
                                <th>Geometric_1</th>
                                <th>Ident Code</th>
                                <!--<th>Description</th>-->
                                <th>PJ_NAME</th>
                            </tr>
                        </thead>
                        <tbody>



                            {% for key,d in data.iterrows() %}
                            <tr>

                                <td>{{d['Piping Class']}}</td>
                                <td>{{d['ShortCd']}}</td>
                                <td>{{d['OptCd']}}</td>
                                <td>{{d['Size1']}}</td>
                                <td>{{d['Size2']}}</td>
                                <td>{{d['Sch1']}}</td>
                                <td>{{d['Sch2']}}</td>
                                <td>{{d['Commodity Code']}}</td>
                                <td>{{d['Part Code']}}</td>
                                <td>{{d['Part Desc']}}</td>
                                <td>{{d['Matl Std']}}</td>
                                <td>{{d['Rating/Seam']}}</td>
                                <td>{{d['Design Std']}}</td>
                                <td>{{d['End Prep']}}</td>
                                <td>{{d['MLK']}}</td>
                                <td>{{d['Ident']}}</td>
                                <td>{{d['Unit Weight']}}</td>
                                <td>{{d['Group Code']}}</td>
                                <td>{{d['Notes']}}</td>
                                <td>{{d['Geometric_1']}}</td>
                                <td>{{d['Ident Code']}}</td>
                                <!--<td>{{d['Description']}}</td>-->
                                <td>{{d['PJ_NAME']}}</td>

                            </tr>
                            {% endfor %}


                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
